In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
class Perceptron(object):
    # params needed: learningRate, nIteration, randomState

    def __init__(self, eta=0.01, n_iter=50, random_state=1):
        self._eta = eta
        self._n_iter = n_iter
        self._random_state = random_state
        self._errors = None
        self._weights = None

    # fitting(data, lables), training, predicting

    def fit(self, data, labels):
        rand_gen = np.random.RandomState(self._random_state)
        self._weights = rand_gen.normal(loc=0.0, scale=0.01, size=1 + data.shape[1])
        self._errors = []

        for _ in range(self._n_iter):
            error = 0
            for x,y in zip(data, labels):
                update = self._eta * (y - self.predict(x))
                self._weights[0] += update
                self._weights[1:] += update * x
                error += int(update != 0.0)  # error is either 1 or 0
            self._errors.append(error)

        return self

    def net_input(self, data):
        return np.dot(data, self._weights) + self._weights[0]

    def predict(self, data):
        return np.where(self.net_input(data) >= 0.0, 1, -1)

In [5]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/'
        'machine-learning-databases/iris/iris.data', header=None)
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [18]:

labels = df.iloc[0:100, -1].values
df.iloc[0:100, -1].unique()
labels = np.where(labels == 'Iris-setosa', -1, 1)

data = df.iloc[0:100, [0, -2]].values
plt.scatter(data[labels[labels==-1]:0], data[:,1], c='red', marker='o', label='setosa')
#plt.scatter(data[:,0], data[:,1], c='red', marker='o', label='setosa')

TypeError: only integer scalar arrays can be converted to a scalar index